Repository tokens-studio/figma-plugin, pull requests merged in 2024-08, with the labels that each got.

#3039 Add support for transform numbers
  packages/tokens-studio-for-figma/src/plugin/helpers.ts
  packages/tokens-studio-for-figma/src/plugin/setValuesOnVariable.test.ts
  packages/tokens-studio-for-figma/src/plugin/setValuesOnVariable.ts
  packages/tokens-studio-for-figma/src/plugin/updateVariables.ts
Labels: bug, plugin v2

#3041 Fix border sides application and removal
  packages/tokens-studio-for-figma/src/plugin/__tests__/setColorValuesOnTarget.test.ts
  packages/tokens-studio-for-figma/src/plugin/removeValuesFromNode.test.ts
  packages/tokens-studio-for-figma/src/plugin/removeValuesFromNode.ts
  packages/tokens-studio-for-figma/src/plugin/setColorValuesOnTarget.ts
Labels: bug, plugin v2

#3027 Fix double scroll in themes
  packages/tokens-studio-for-figma/src/app/components/ManageThemesModal/ManageThemesModal.tsx
  packages/tokens-studio-for-figma/src/app/components/Modal/Modal.tsx
Labels: bug, plugin v2

#3046 fix: handle errors when importing variables
  packages/tokens-studio-for-figma/src/plugin/pullVariables.test.ts
  packages/tokens-studio-for-figma/src/plugin/pullVariables.ts
Labels: bug, Figma variables, Figma import, plugin v2

#3048 fix: store last synced state from remote
  packages/tokens-studio-for-figma/src/app/store/providers/ado/ado.tsx
  packages/tokens-studio-for-figma/src/app/store/providers/bitbucket/bitbucket.tsx
  packages/tokens-studio-for-figma/src/app/store/providers/generic/versionedStorage.ts
  packages/tokens-studio-for-figma/src/app/store/providers/github/github.tsx
  packages/tokens-studio-for-figma/src/app/store/providers/gitlab/gitlab.tsx
  packages/tokens-studio-for-figma/src/app/store/providers/jsonbin.tsx
  packages/tokens-studio-for-figma/src/app/store/providers/supernova/supernova.tsx
  packages/tokens-studio-for-figma/src/app/store/providers/tokens-studio/tokensStudio.tsx
  packages/tokens-studio-for-figma/src/app/store/providers/url.tsx
  packages/tokens-studio-for-figma/src/app/store/remoteTokens.tsx
Labels: bug, plugin v2

#3053 fix: exporting and applying styles correctly references the tokens
  packages/tokens-studio-for-figma/src/plugin/TokenValueRetriever.ts
  packages/tokens-studio-for-figma/src/plugin/asyncMessageHandlers/setNodeData.ts
  packages/tokens-studio-for-figma/src/plugin/updateStyles.ts
Labels: bug, plugin v2

#3072 Fix bitbucket folder sync pull
  .changeset/mighty-cooks-punch.md
  packages/tokens-studio-for-figma/src/storage/BitbucketTokenStorage.ts
Labels: bug, plugin v2, sync bitbucket

#3071 fix: ADO pushes to correct branch & BB create PR link update
  .changeset/four-monkeys-deny.md
  packages/tokens-studio-for-figma/src/app/components/PushDialog.tsx
  packages/tokens-studio-for-figma/src/app/store/providers/ado/ado.tsx
  packages/tokens-studio-for-figma/src/app/store/providers/bitbucket/getBitbucketCreatePullRequestUrl.ts
  packages/tokens-studio-for-figma/src/app/store/remoteTokens.test.ts
  packages/tokens-studio-for-figma/src/storage/ADOTokenStorage.ts
  packages/tokens-studio-for-figma/src/storage/__tests__/ADOTokenStorage.test.ts
  packages/tokens-studio-for-figma/src/types/StorageType.ts
Labels: bug, sync azure devops ado, plugin v2

#3096 fix: ADO single and multi file tests
  packages/tokens-studio-for-figma/src/storage/__tests__/ADOTokenStorage.test.ts
Labels: bug, sync azure devops ado, plugin v2

#3089 fix: allow GitLab edits to create & switch across new branches and source files
  .changeset/beige-cameras-kneel.md
  packages/tokens-studio-for-figma/src/app/store/providers/__tests__/clientFactory.test.ts
  packages/tokens-studio-for-figma/src/app/store/providers/gitlab/gitlab.tsx
  packages/tokens-studio-for-figma/src/app/store/remoteTokens.test.ts
  packages/tokens-studio-for-figma/src/storage/GitlabTokenStorage.ts
  packages/tokens-studio-for-figma/src/storage/__tests__/GitlabTokenStorage.test.ts
  packages/tokens-studio-for-figma/src/types/StorageType.ts
Labels: bug, sync gitlab, plugin v2
